@import "partials/header";
@import "partials/post";
@import "partials/archive";
@import "partials/pagination";
@import "partials/home";
@import "partials/projects";
@import "partials/404";

.fixed-sidebar {
    height: 100%;
    width: 35px;
    position: fixed;
    display: block;
    z-index: 2;
    top: 0;
}

.content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
    overflow-y: auto;

    &.show {
        display: block;
    }
}

@import "_media-queries";