@import "partials/header";
@import "partials/home";
@import "partials/post";
@import "partials/archive";
@import "partials/tags";
@import "partials/projects";
@import "partials/404";

@import "partials/pagination";

.fixed-sidebar {
    height: 100%;
    width: 35px;
    position: fixed;
    display: block;
    z-index: 2;
    top: 0;
    background: $green;
}

.content {
    position: relative;
    display: block;
    max-width: 1400px;
    margin: 0 auto 30px auto;
    padding: 0 60px;
}

.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
    overflow-y: auto;

    &.show {
        display: block;
    }
}


@media screen and (max-width:960px) {
    .main-content {
        width: 100%;
    }
    html {
        overflow: auto;
    }
}

@media screen and (max-width:640px) {

    .fixed-sidebar {
        width: 10px;
    }

    .content {
        padding: 40px
    }
}