@import "partials/header";
@import "partials/post";
@import "partials/posts-list";
@import "partials/home";
@import "partials/projects";

.fixed-sidebar {
    height: 100%;
    width: 35px;
    position: fixed;
    display: block;
    z-index: 2;
    top: 0;
}
.content {
    padding: 0 60px;
    max-width: 1400px;
    margin: 0 auto;
}
.section-title {
    font-size: 100px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: $black;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

    em {
        font-style: italic;
    }
    span {
        font-size: 20px;
    }
}
.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
    overflow-y: auto;

    &.show {
        display: block;
    }
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;

    &_pager {
        display: inline-block;
        padding: 0.75em;
        min-width: 5.5em;
        font-size: 0.8em;
        font-weight: 400;
        background-color: darken($white, 5%);
        color: darken($white, 35%) !important;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.2s linear;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
        &:hover {
            background-color: $green;
            color: $white !important;
        }
        &.disabled {
            background-color: darken($white, 3%);
            color: darken($white, 15%) !important;

            &:hover {
                background-color: darken($white, 3%);
                color: darken($white, 15%) !important;
            }
        }
    }
}
@import "_media-queries";