$white        : #FFFFFF;
$black        : #000000;
$gray         : #d4d4d4;
$light-gray   : #f2f2f2;
$home-gray    : #808080;
$dark-gray    : #585b63;

$overlay-color: #2c2d33;
$green        : #399f62;
$blue         : #268bd2;

$red          : #ee5f5b;
$blue         : #268bd2;
$yellow       : #f89406;
$aqua         : #7FDBFF;

$base-font    : "weblysleek_uilight", sans-serif;
$code-font    : "LiberationMonoRegular",monospace;
$header-font  : "tauri";
$small        : 750px;