<div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Ahmad Assaf"/>
    <meta itemprop="jobTitle" content="Senior Data Scientist @Beamery"/>
    <meta itemprop="alumniOf" content="SAP"/>
    <meta itemprop="alumniOf" content="Universty of St.Andrews"/>
    <meta itemprop="alumniOf" content="EURECOM"/>
    <meta itemprop="alumniOf" content="Telecom ParisTech"/>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="streetAddress"  content="144 Octavia House, 213 Townmead Road"/>
        <meta itemprop="addressLocality"  content="London"/>
        <meta itemprop="addressRegion"  content="United Kingdom"/>
        <meta itemprop="postalCode"  content="SW6 2FJ"/>
    </div>

    <meta itemprop="telephone" content="(+44) 742-9204-600"/>
    <meta itemprop="email" content="me@ahmadassaf.com"/>
    <meta itemprop="url" content="http://www.ahmadassaf.com"/>

    <meta itemprop="sameas" content="https://twitter.com/ahmadaassaf"/>
    <meta itemprop="sameas" content="https://github.com/ahmadassaf"/>
    <meta itemprop="sameas" content="https://plus.google.com/u/1/+AhmadAssafA"/>
    <meta itemprop="sameas" content="https://linkedin.com/in/ahmadassaf"/>
    <meta itemprop="sameas" content="https://facebook.com/ahmad.a.assaf"/>
    <meta itemprop="sameas" content="http://stackoverflow.com/users/557821/ahmadassaf"/>
    <meta itemprop="sameas" content="https://www.quora.com/profile/Ahmad-Assaf"/>
    <meta itemprop="sameas" content="https://www.instagram.com/ahmadaassaf/"/>
    <meta itemprop="sameas" content="https://news.ycombinator.com/user?id=ahmadassaf/"/>
</div>