<li class="navigation__container__list--item navigation__container__list__submenu"><a href="{{ site.url }}/blog">Blog</a>
    <ul class="navigation__container__list__submenu--container">
        {% include partials/navigation/categories.html %}
    </ul>
</li>
<li class="navigation__container__list--item"><a data-target="modal-publications">Papers</a></li>
<li class="navigation__container__list--item"><a href="{{ site.url }}/projects">Projects</a></li>
<li class="navigation__container__list--item"><a href="#biography">About</a></li>