@font-face {
  font-family: 'sleek';
  src: url('../fonts/sleek/sleek.eot');
  src: url('../fonts/sleek/sleek.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sleek/sleek.woff2') format('woff2'),
       url('../fonts/sleek/sleek.woff') format('woff'),
       url('../fonts/sleek/sleek.ttf') format('truetype'),
       url('../fonts/sleek/sleek.svg#weblysleek_uilight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'liberation';
  src: url('../fonts/liberation/liberation.eot');
  src: url('../fonts/liberation/liberation.eot?#iefix') format('embedded-opentype'),
       url('../fonts/liberation/liberation.woff') format('woff'),
       url('../fonts/liberation/liberation.ttf') format('truetype'),
       url('../fonts/liberation/liberation.svg#LiberationMonoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/allerta/allerta.woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
  font-family: 'tauri';
  src: url('../fonts/tauri/tauri.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amiko';
  src: url('../fonts/amiko/amiko.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amiko-bold';
  src: url('../fonts/amiko/amiko-bold.woff2');
  font-weight: normal;
  font-style: normal;
}