
html {
  font-size: 100%;
}

body {
  font-family: $primary-font-family;
  font-weight: $font-weight-regular;
  line-height: $body-line-height;
  letter-spacing: $base-letter-spacing;
  color: $black;
  -webkit-font-smoothing: antialiased;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,{
  margin: 0 0 $spacing-medium 0;
  font-family:$primary-font-family;
  font-weight: $font-weight-bold;
  color: $black;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-large;
  line-height: $heading-line-height-tight;
  @include breakpoint-max(x-small) {
    line-height: $heading-line-height-tight;
  }
}

// adds spacing between headings and paragraphs
h2:not(:first-of-type) {
  margin-top: $spacing-xx-large;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

strong {
  font-weight: $font-weight-bold;
  font-family: $titles-font-family;
  margin: 0 5px;
}
p {
  margin: 0 0 $spacing-medium 0;
  font-size: $base-font-size;
  @include breakpoint-max(small) {
    font-size: 16px;
  }
}

strong {
  font-weight: $font-weight-bold;
  color: $black;
}


// Headings

h1,
.h1 {
  @include font-size($h1-font-size);
}

h2,
.h2 {
  @include font-size($h2-font-size);
}

h3,
.h3 {
  @include font-size($h3-font-size);
  letter-spacing: $letter-spacing-small;
}

h4,
.h4 {
  @include font-size($h4-font-size);
  letter-spacing: $letter-spacing-medium;
}

h5,
.h5 {
  @include font-size($h5-font-size);
  margin: 0 10px 0 0;
  font-family: $primary-font-family;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-medium;
}

h6,
.h6 {
  @include font-size($h6-font-size);
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: $base-letter-spacing;
  display: inline;
}