.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none !important;
}

.hide-visually {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bordered {
  border-left: 25px solid $green
}

// Hide/show

.hide--large-down {
  @include mq(large-down) {
    display: none !important;
  }
}

.hide--large-up {
  @include mq(large-up) {
    display: none !important;
  }
}

.hide--medium-down {
  @include mq(medium-down) {
    display: none !important;
  }
}

.hide--medium-up {
  @include mq(medium-up) {
    display: none !important;
  }
}


// Flex

.flex {
  display: flex;
}

.clickthrough {
  pointer-events: none;
}