.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.hidden-visually {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

.inactive {
  pointer-events: none;
  cursor: default;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rounded {
  border-radius: 50%;
}

// Hide/show

.hide--small {
  @include breakpoint-max(small) {
    display: none;
  }
}

.hide--x-small {
  @include breakpoint-max(x-small) {
    display: none !important;
  }
}

.show--medium-max {
  @include breakpoint-max(medium) {
    display: block !important;
    visibility: visible !important;
  }
}

.show--medium-min {
  @media (min-width: $medium) {
    display: block;
    visibility: visible !important;
  }
}

// alignment

.align-items {
  align-items: center;
}

.align-left {
  @include clearfix();
  float: left;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-right {
  @include clearfix();
  float: right;
}


// Flex

.flex {
  display: flex;
  @include breakpoint-max(x-small) {
    flex-wrap: wrap;
  }
}

.clickthrough {
  pointer-events: none;
}

.hover {
  cursor: pointer;
  &:hover {
    color: $green;
  }
  &--tags {
    border: 1px solid $green;
    background: $green;
    color: $white;
  }
}