.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none !important;
}

.hidden-visually {
  margin: -1px !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  position: absolute !important;
}

.inactive {
  pointer-events: none;
  pointer: default;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rounded {
  border-radius: 50%;
}

// Hide/show

.hide--large-down {
  @include mq(large-down) {
    display: none !important;
  }
}

.hide--large-up {
  @include mq(large-up) {
    display: none !important;
  }
}

.hide--medium-down {
  @include mq(medium-down) {
    display: none !important;
  }
}

.hide--medium-up {
  @include mq(medium-up) {
    display: none !important;
  }
}

// alignment
.align-left {
  @include clearfix();
  float: left;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-right {
  @include clearfix();
  float: right;
}


// Flex

.flex {
  display: flex;
}

.clickthrough {
  pointer-events: none;
}