// Alignment

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-right--large-up {
  @include mq(large-up) {
    text-align: right !important;
  }
}

.capitalize {
  text-transform: capitalize;
}

.text-underline {
  border-bottom: 2px solid $green;
}

.text-horizontal {
  transform: rotate(90deg);
  transform-origin: left top 0;
}

.underlined {
  content: "";
  bottom: -15px;
  left: 2px;
  background: $green;
  height: 15px;
  position: absolute;
}