// Normalize
@import "normalize";

// Mixins
@import "mixins/mixins";

// Settings

@import "settings/colors";
@import "settings/global";
@import "settings/typography";

// Typography
@import "typography/fonts";
@import "typography/typography";

// Objects
@import "objects/container";
@import "objects/icon";
@import "objects/list";

// Utilities

@import "utilities/display";
@import "utilities/typography";

// Components

@import "components/biography";
@import "components/button";
@import "components/code";
@import "components/cursor";
@import "components/form";
@import "components/home";
@import "components/image";
@import "components/link";
@import "components/list";
@import "components/loader";
@import "components/logo";
@import "components/modal";
@import "components/navigation";
@import "components/notice";
@import "components/table";
@import "components/tags";
@import "components/quote";
@import "components/search";
@import "components/pagination";
@import "components/section";
@import "components/post";
  @import "components/post/header";
@import "components/publication";
@import "components/projects";
@import "components/skills";

// External Dependencies
@import "vendor/aos/aos";
@import "vendor/magnific-popup/magnific-popup";

// Syntax Highlighting
@import "syntax";