  {% if paginator.total_pages > 1  %}
      <nav class="pagination">
        <div>
          {% if paginator.previous_page %}
            <a class="pagination_pager" href="{{ site.baseurl }}{{ paginator.previous_page_path }}/">Previous</a>
          {% else %}
            <a href="" class="pagination_pager disabled">previous</a>
          {% endif %}
        </div>
        <div>
          <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
        </div>
        <div>
          {% if paginator.next_page %}
          <a class="pagination_pager" href="{{ site.baseurl }}{{ paginator.next_page_path }}/">next</a>
          {% else %}
            <a href="" class="pagination_pager disabled">next</a>
          {% endif %}
        </div>
      </nav>
  {% endif %}