// Container

.container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  flex-flow: wrap;
  margin: 0 auto;

    &--home {
      width: 100%;
      padding: $spacing-large $spacing-xx-large;
    }
    &--blog {
      margin: 0 auto;
      width: 60%;
      @include breakpoint-max(large) {
        width: 80%;
      }
    }
    &--archive {
      margin: 0 auto $spacing-x-large;
      width: 60%;
      @include breakpoint-max(large) {
        width: 80%;
      }
    }
    &--post {
      width: 70%;
      padding: 0 $spacing-xx-large;
      @include breakpoint-max(x-large) {
        width: 90%;
        margin: 0 auto;
        padding: 0;
      }
      @include breakpoint-max(small) {
        padding: 0 1em 0;
      }
    }
}

body.container {
  
  &:before {
    content: "";
    border-left: 25px solid $green;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 10;
    @include breakpoint-max(medium) {
      border-left: 15px solid $green;
    }
  }
}