// Container

.container {
  display: flex;
  @include square(100%);
  overflow-x: hidden;
  position: relative;
  flex-flow: wrap;
  margin: 0 auto;

    &--home {
      width: 100%;
      padding: $spacing-large $spacing-xx-large;
    }
    &--blog {
      margin: 0 auto;
      width: 60%;
      @include breakpoint-max(large) {
        width: 80%;
      }
    }
    &--archive {
      margin: 0 auto $spacing-x-large;
      width: 60%;
      @include breakpoint-max(large) {
        width: 80%;
      }
    }
    &--post {
      width: 70%;
      padding: 0 $spacing-xx-large;
      @include breakpoint-max(x-large) {
        width: 90%;
        margin: 0 auto;
        padding: 0;
      }
      @include breakpoint-max(small) {
        padding: 0 1em 0;
      }
    }
}

.border {
  @include square(100%);
  position: fixed;
  border: 20px solid $dark;
  z-index: 11;
}