.container--post {

  .post__header {
    border-bottom: 2px solid;
    text-align: center;
    padding: $spacing-base 0;

    &__title {
      @include font-size($h1-post-title-font-size);
      line-height: $heading-line-height-tight;
    }
    &__subtitle {
      color: $grey-600;
      font-weight: $font-weight-regular;
    }
    &__date {
      color: $grey-600;
      margin: $spacing-base 0;
    }
    &__reading-time {
      color: $grey-800;
      margin: $spacing-small 0;
    }
    &__contributions {
      color: $grey-800;
      &__entry {
        margin: 0 $spacing-smallest 0 0;
      }
      &:hover{
        color: $green;
      }
    }
    &__tags-list {
      margin: $spacing-base auto;
      display: table;

      &__tag {
        cursor: pointer;
        padding: $spacing-smallest $spacing-small;
        border: 1px solid $grey-600;
        color:$black;
        font-size: $small-font-size;
        text-transform: uppercase;
        display: inline-table;
        margin: $spacing-smallest;

          &:hover {
            background: $green;
            color: $white;
          }
      }
    }
  }
}