$white        : #FFFFFF;
$black        : #2c2d33;
$grey         : #d4d4d4;
$grey-400     : #f2f2f2;
$grey-600     : #808080;
$grey-800     : #585b63;

$overlay-color: #2c2d33;
$green        : #399f62;
$red          : #ee5f5b;
$blue         : #268bd2;
$orane        : #f89406;
$yellow       : #ecd211;
$aqua         : #55acee;