// Misc

$base-font-size: 20px;
$border-radius: 4px;
$border-radius-round: 1000px;


// Spacing

$spacing-base: 1rem;

$spacing-smallest: $spacing-base / 4;
$spacing-small: $spacing-base / 2;
$spacing-medium: $spacing-base;
$spacing-large: $spacing-base * 2;
$spacing-x-large: $spacing-base * 3;
$spacing-xx-large: $spacing-base * 4;
$spacing-xxx-large: $spacing-base * 6;
$spacing-xxxx-large: $spacing-base * 8;


// Media queries
$width-name: max-device-width;

$xx-small: 400px;
$x-small: 670px;
$small: 800px;
$medium: 1100px;
$large: 1250px;
$x-large: 1500px;
$xx-large: 3000px;

// Timing

$animation-time: 0.1s;
$animation-curve: cubic-bezier(0.645, 0.045, 0.355, 1);