// Misc

$primary-font-family: 'sleek', "Open Sans", "Helvetica Neue", sans-serif;
$titles-font-family: 'tauri';
$code-font-family: 'liberation';

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$base-line-height: 1.5;
$heading-line-height: 1.5;
$heading-line-height-tight: 1.15;

$base-letter-spacing: 0.2px;
$letter-spacing-x-large: 12px;
$letter-spacing-large: 6px;
$letter-spacing-medium: 3px;
$letter-spacing-small: 1px;

// Font sizes
$small-font-size: 0.85em;

$regular-font-size: (
  null: 16px,
  $medium: 17px,
  $large: 18px,
  $x-large: 18.5px
);

$home-title-size: (
  null: 1.5em,
  $medium: 2em,
  $large: 2.2em,
  $x-large: 10em
);

$h1-font-size: (
  null: 1.5em,
  $medium: 2em,
  $large: 2.2em,
  $x-large: 4em
);

$h2-font-size: (
  null: 1.2em,
  $medium: 1.3em,
  $large: 1.4em,
  $x-large: 3em
);

$h3-font-size: (
  null: 1.2em,
  $large: 1.3em,
  $x-large: 2em
);

$h4-font-size: (
  null: 1em,
  $medium: 1.1em,
  $large: 1.5em
);

$h5-font-size: (
  null: 1.2em
);

$h6-font-size: (
  null: 1.1em
);