// Misc

$primary-font-family: 'sleek', "Open Sans", "Helvetica Neue", sans-serif;
$titles-font-family: 'tauri';
$code-font-family: 'liberation';

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$base-line-height: 1.8;
$heading-line-height: 2;
$heading-line-height-tight: 1.5;

$base-letter-spacing: 0.2px;
$letter-spacing-x-large: 12px;
$letter-spacing-large: 5px;
$letter-spacing-medium: 3px;
$letter-spacing-small: 1px;

// Font sizes

$small-font-size: 0.85em;
$x-small-font-size: 0.6em;

$regular-font-size: (
  $x-large: 18px,
  $large: 18px,
  $medium: 17px,
  $small: 16px,
  null: 18.5px
);


$h1-font-size: (
  $x-large: 2.2em,
  $medium: 2em,
  $large: 2.2em,
  $small: 2em,
  null: 4em
);

$h2-font-size: (
  $x-large: 2em,
  $large: 2em,
  $medium: 2em,
  $small: 1.8em,
  null: 3em
);

$h3-font-size: (
  $x-large: 2em,
  $large: 2em,
  $medium: 1.8em,
  $small: 1.5em,
  null: 2em
);

$h4-font-size: (
  $x-large: 1.5em,
  $large: 1.5em,
  $medium: 1.4em,
  $small: 1.2em,
  null: 1.5em
);

$h5-font-size: (
  null: 1.3em
);

$h6-font-size: (
  null: 1em
);

// Navigation sizes

$navigation-font-size: (
  $x-large: 18px,
  $large: 18px,
  $medium: 18px,
  $small: 18px,
  null: 18px
);

// Home sizes

$home-title-size: (
  $x-large: 7.6em,
  $large: 7.6em,
  $medium: 6em,
  $small: 5em,
  null: 10em
);

$home-subtitle-size: (
  $x-large: 2.5em,
  $large: 2.5em,
  $medium: 2em,
  $small: 1.8em,
  null: 3em
);

$home-icons-size: (
  $x-large: 2em,
  $large: 2em,
  $medium: 1.8em,
  $small: 1.8em,  
  null: 2em
);

// Post sizes

$h1-post-title-font-size: (
  $x-large: 3.5em,
  $large: 3em,
  $medium: 2.2em,
  $small: 2em,
  null: 4em
);

$h1-post-font-size: (
  $x-large: 2em,
  $large: 2em,
  $medium: 1.8em,
  $small: 1.8em,
  null: 2em
);

$h2-post-font-size: (
  $x-large: 1.3em,
  $large: 1.3,
  $medium: 1.1em,
  $small: 1.1em,
  null: 1.5em
);

$h3-post-font-size: (
  $x-large: 1.5em,
  $large: 1.5,
  $medium: 1.2em,
  $small: 1em,
  null: 1.2em
);
