.button {
  display: inline-block;
  background-color: $green;
  color: $white;
  text-decoration: none;
  margin: $spacing-base 0;
  font-size: $small-font-size;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  padding: $spacing-small;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
      background-color: $white;
      border: 1px solid $green;
      color: $black;
      font-weight: $font-weight-bold;
  }
  &_info {
      background-color: lighten($aqua, 10%);

      &:hover {
          background-color: darken($aqua, 5%);
          border-color: darken($aqua, 5%);
      }
  }
  &_warning {
      background-color: lighten($yellow, 10%);

      &:hover {
          background-color: darken($yellow, 5%);
          border-color: darken($yellow, 5%);
      }
  }
  &_success {
      background-color: lighten($green, 10%);
      color: $white !important;

      &:hover {
          background-color: lighten($green, 5%);
          border-color: lighten($green, 5%);
      }
  }
  &_danger {
      background-color: lighten($red, 10%);

      &:hover {
          background-color: darken($red, 5%);
          border-color: darken($red, 5%);
      }
  }
  &_facebook {
      background-color: #3b5998;
      color: $white !important;

      &:hover {
          background-color: mix($white, #3b5998, 25%);
          border-color: mix($white, #3b5998, 25%);
      }
  }
  &_google-plus {
      background-color: $red;
      color: $white !important;

      &:hover {
          background-color: mix($white, $red, 25%);
          border-color: mix($white, $red, 25%);
      }
  }
  &_twitter {
      background-color: $aqua;
      color: $white !important;

      &:hover {
          background-color: mix($white, $aqua, 25%);
          border-color: mix($white, $aqua, 25%);
      }
  }
}

a.button {
  text-decoration: none;
}


.button-secondary {
  box-shadow: inset 0 0 0 1px $green;
  color: $green;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $green;
    box-shadow: inset 0 0 0 1px $green;
  }
}