.currently {
  padding: 0;
  flex-direction: column;

  li {
    display: inline-flex;
    color: $grey-600;
    margin: 5px 0;
    letter-spacing: 1px;
    @include font-size($h4-font-size);
    align-items: center;

    i {
      margin: 0 10px 0 0;
    }

    a {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}