input, select, textarea {
  color: inherit;
  font: inherit;
  line-height: normal;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-font-smoothing: subpixel-antialiased; // Safari transform bug
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: vertical;
  padding: 0;
}

input {
   /* WebKit, Blink, Edge */
  &:-webkit-input-placeholder {
    color: $grey-600;
  }
  /* Mozilla Firefox 19+ */
  &::-moz-placeholder {
    opacity: 1;
    color: $grey-600;
  }
  /* Internet Explorer 10-11 */
  &:-ms-input-placeholder {
    color: $grey-600;
  }
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  &::-ms-clear {
    display: none;
  }
}
