.header {
  
}

.header__heading {  
  margin-bottom: $spacing-small;
  line-height: $heading-line-height-tight;

  @include mq(medium-up) {
    margin-bottom: $spacing-medium;
    margin-top: -$spacing-small/2;
  }
}

.header__subheading {
  font-weight: $font-weight-bolder;
  line-height: $base-line-height;
  color: $black;
  max-width: 700px;
  margin-bottom: $spacing-medium;
  @include font-size($h4-font-size);

  @include mq(small-up) {
    margin-bottom: $spacing-large;
  }

  @include mq(large-up) {
    margin-bottom: $spacing-x-large;
  }
}