.introduction {
  &__title {
    @include font-size($home-title-size);
    letter-spacing: $letter-spacing-x-large;
  }

  &__subtitle {
    @include font-size($h2-font-size);
    font-family: $primary-font-family;
      &--rotating {
        border-bottom: 7px solid $blue;
      }
  }

  &__footer {
    color: $grey-800;
  }
}

.currently {
  flex-direction: column;

  &__item {
    display: inline-flex;
    align-items: center;
    color: $grey-600;
    margin: 5px 0;
    letter-spacing: $letter-spacing-small;
    @include font-size($h4-font-size);

    i {
      margin: 0 10px 0 0;
    }
  }
}