.introduction {
  padding: $spacing-large 0;

  &__title {
    @include font-size($home-title-size);
    letter-spacing: $letter-spacing-large;
    font-family: $titles-font-family;
    line-height: normal;
    @include breakpoint-max(large) {
      letter-spacing: 8px;
    }
    @include breakpoint-max(medium) {
      letter-spacing: 4px;
      line-height: 1.3em;
    }
  }

  &__subtitle {
    line-height: 2em;
    @include font-size($home-subtitle-size);
    font-weight: $font-weight-regular;
      &--rotating {
        border-bottom: 7px solid $blue;
      }
  }
  &__greetings {
    &--title {
      text-align: center;
      color: $grey-600;
    }
    @include breakpoint-max(x-small) {
      text-align: center;
    }
  }
  &__footer {
    color: $grey-800;
  }

  &__title, &__subtitle {
    @include breakpoint-max(small) {
     text-align: center;
    }
  }
}

.currently {
  flex-direction: column;

  &__item {
    display: inline-flex;
    align-items: baseline;
    text-align: left;
    color: $grey-600;
    margin: 5px 0;
    letter-spacing: $letter-spacing-small;
    @include font-size($h4-font-size);
    i {
      margin: 0 10px 0 0;
    }
  }
}