$socialColours:
(
    angellist    : #000000,
    behance      : #1769ff,
    bitbucket    : #205081,
    codeopen     : #000000,
    delicious    : #3399ff,
    digg         : #000000,
    diigo        : #276bb2,
    dropbox      : #007ee5,
    evernote     : #2dbe60,
    facebook     : #3b5998,
    flickr       : #ff0084,
    foursquare   : #0072b1,
    github       : #333333,
    google       : #dd4b39,
    hackernews   : #dd4b39,
    gravatar     : #1e8cbe,
    gtalk        : #dd4b39,
    instagram    : #125688,
    last         : #d51007,
    linkedin     : #007bb5,
    picasa       : #9F5CBA,
    pinterest    : #cb2027,
    quora        : #a82400,
    rdio         : #007dc3,
    rss          : #ff6600,
    skype        : #12A5F4,
    slack        : #6ecadc,
    slideshare   : #0077b5,
    snapchat     : #fffc00,
    soundcloud   : #ff8800,
    spotify      : #2ebd59,
    stackexchange: #195398,
    stackoverflow: #fe7a15,
    steam        : #000000,
    stumbleupon  : #eb4924,
    tumblr       : #32506d,
    twitter      : #55acee,
    vimeo        : #aad450,
    vine         : #00bf8f,
    vk           : #45668e,
    wechat       : #7bb32e,
    whatsapp     : #4dc247,
    wordpress    : #21759b,
    xing         : #026466,
    yelp         : #af0606,
    youtube      : #bb0000,
);

@function get-social-media-colour($colour) {

  @if map-has-key($socialColours, $colour) {
    $colour: map-get($socialColours, $colour);
  } @else {
    @if type-of($colour) != colour {
      @error "Invalid colour name: `#{$colour}`.";
    }
  }

  @return $colour;
}

.link {
  display: inline-block;
  position: relative;
  color: $green;
  letter-spacing: -0.5px;

  &:hover {
    opacity: 0.7;
  }
}

.social-links {
  margin: 5rem 0;
  padding: 0;

  li {
    display: inline-flex;
    padding: 0 2rem;

    &:first-of-type {
      padding-left: 0;
    }

    a {
      @include font-size($h3-font-size);
    
      i {
        &.fa-angellist:hover                { color: get-social-media-colour(angellist);}
        &.fa-behance:hover                  { color: get-social-media-colour(behance);}
        &.fa-bitbucket:hover                { color: get-social-media-colour(bitbucket);}
        &.fa-codeopen:hover                 { color: get-social-media-colour(codeopen);}
        &.fa-delicious:hover                { color: get-social-media-colour(delicious);}
        &.fa-digg:hover                     { color: get-social-media-colour(digg);}
        &.fa-diigo:hover                    { color: get-social-media-colour(diigo);}
        &.fa-dropbox:hover                  { color: get-social-media-colour(dropbox);}
        &.fa-evernote:hover                 { color: get-social-media-colour(evernote);}
        &.fa-facebook-official:hover        { color: get-social-media-colour(facebook);}
        &.fa-flickr:hover                   { color: get-social-media-colour(flickr);}
        &.fa-foursquare:hover               { color: get-social-media-colour(foursquare);}
        &.fa-github:hover                   { color: get-social-media-colour(github);}
        &.fa-google:hover                   { color: get-social-media-colour(google);}
        &.fa-gravatar:hover                 { color: get-social-media-colour(gravatar);}
        &.fa-gtalk:hover                    { color: get-social-media-colour(gtalk);}
        &.fa-instagram:hover                { color: get-social-media-colour(instagram);}
        &.fa-last:hover                     { color: get-social-media-colour(last);}
        &.fa-linkedin:hover                 { color: get-social-media-colour(linkedin);}
        &.fa-picasa:hover                   { color: get-social-media-colour(picasa);}
        &.fa-pinterest:hover                { color: get-social-media-colour(pinterest);}
        &.fa-quora:hover                    { color: get-social-media-colour(quora);}
        &.fa-rdio:hover                     { color: get-social-media-colour(rdio);}
        &.fa-rss:hover                      { color: get-social-media-colour(rss);}
        &.fa-skype:hover                    { color: get-social-media-colour(skype);}
        &.fa-slack:hover                    { color: get-social-media-colour(slack);}
        &.fa-slideshare:hover               { color: get-social-media-colour(slideshare);}
        &.fa-snapchat:hover                 { color: get-social-media-colour(snapchat);}
        &.fa-soundcloud:hover               { color: get-social-media-colour(soundcloud);}
        &.fa-spotify:hover                  { color: get-social-media-colour(spotify);}
        &.fa-stackexchange:hover            { color: get-social-media-colour(stackexchange);}
        &.fa-stack-overflow:hover           { color: get-social-media-colour(stackoverflow);}
        &.fa-steam:hover                    { color: get-social-media-colour(steam);}
        &.fa-stumbleupon:hover              { color: get-social-media-colour(stumbleupon);}
        &.fa-tumblr:hover                   { color: get-social-media-colour(tumblr);}
        &.fa-twitter:hover                  { color: get-social-media-colour(twitter); }
        &.fa-vimeo:hover                    { color: get-social-media-colour(vimeo);}
        &.fa-vine:hover                     { color: get-social-media-colour(vine);}
        &.fa-vk:hover                       { color: get-social-media-colour(vk);}
        &.fa-wechat:hover                   { color: get-social-media-colour(wechat);}
        &.fa-whatsapp:hover                 { color: get-social-media-colour(whatsapp);}
        &.fa-wordpress:hover                { color: get-social-media-colour(wordpress);}
        &.fa-xing:hover                     { color: get-social-media-colour(xing);}
        &.fa-yelp:hover                     { color: get-social-media-colour(yelp);}
        &.fa-youtube:hover                  { color: get-social-media-colour(youtube);}
        &.fa-hacker-news:hover              { color: get-social-media-colour(hackernews);}
      }
    }
  }

}  
