.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1;  
  padding: $spacing-large calc(2* #{$spacing-large});
  
  .navigation-container {
    align-items: center;

    &--blog {
      justify-content: space-between;
    }

    .navigation-items {
      align-items: center;
      flex-direction: row-reverse;
    
      li {
        display: inline-flex;
        position: relative;
        transition: all $animation-time $animation-curve;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        opacity: 1;
        padding: 0 $spacing-large;
        font-size: 18px;
        cursor: pointer;
        letter-spacing: 2px;
      
        &:hover {
          color: $green;
        }
        
        &.is-active {
          color: $green;
        }
      }
    }
  }
}

