.navigation-container {
  position: sticky;
  top: 0;
  width: 100%;
  background: $white;
  z-index: 1;  
  padding: $spacing-base $spacing-xx-large;
  
  @include breakpoint-max(x-large) {
    padding: $spacing-large $spacing-base $spacing-large $spacing-x-large
  }
  @include breakpoint-max(large) {
    padding: $spacing-large $spacing-xx-large;
    justify-content: space-between;
  }
  @include breakpoint-max(large) {
    padding: $spacing-large;
  }

  .button--search {
    display: none;
    font-size: 1.1em;
  }

  &--blog {
    justify-content: space-between;

    .button--search {
      display: inline;
      margin: 0 $spacing-large;
      @include breakpoint-max(large) {
        margin: 0 $spacing-base;
      }
      @include breakpoint-max(large) {
        font-size: 1.5em;
        margin: 0 $spacing-large;
      }
    }

    .navigation__list {
      .navigation__list__item {
        &--responsive {
          font-style: normal;
        }
        @include breakpoint-max(x-large) {
          font-size: 16px;
        }
        @include breakpoint-max(large) {
          padding: 1.5em;
        }
      }
    }
  }

  .navigation {
    justify-content: baseline;

    @include breakpoint-max(large) {
      justify-content: space-between;
    }

    .menu--responsive__toggle {
      font-size: 2em;
      margin: auto 0;
      &--close {
        @extend .menu--responsive__toggle;
        position: absolute;
        top: 1.2em;
        right: 1em;
      }
      @media (min-width: $large) {
        display: none;
      }
    }

    &__list {
      position: relative;
      flex-direction: row-reverse;

      @include breakpoint-max(large) {
        position: fixed;
        width: 100%;
        height: 100%;
        background: $white;
        top: 0;
        left: 0;
        padding: 5em 0;
        visibility: hidden;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
      
      &__item {
        display: inline-flex;
        @include font-size($navigation-font-size);
        position: relative;
        transition: all $animation-time $animation-curve;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        opacity: 1;
        padding: 0 $spacing-large;
        cursor: pointer;
        letter-spacing: 2px;
        
        &--current {
          color: $green;
        }
        &:hover {
          @extend .hover;
        }

        @include breakpoint-max(large) {
          padding: 0 1.5em;
        }
        @include breakpoint-max(large) {
          margin: 1em 0;
        }
      }
    }
  }
}

