.navigation-container {
  position: sticky;
  top: 0;
  width: 100%;
  background: $white;
  z-index: 1;
  padding: $spacing-large $spacing-xx-large 0;

  @include breakpoint-max(x-large) {
    padding: $spacing-large $spacing-base $spacing-large $spacing-x-large
  }
  @include breakpoint-max(large) {
    padding: $spacing-large;
    justify-content: space-between;
  }
  @include breakpoint-max(medium) {
    justify-content: flex-end;
  }

  .button--search {
    display: none;
    font-size: 1.1em;
  }

  &--blog {
    justify-content: space-between;

    @include breakpoint-max(x-large) {
      padding: $spacing-x-large;
    }
    @include breakpoint-max(medium) {
      justify-content: flex-end;
    }

    .button--search {
      display: inline;
      margin: 0 $spacing-large;
      @include breakpoint-max(large) {
        margin: 0 $spacing-base;
      }
      @include breakpoint-max(large) {
        font-size: 1.5em;
        margin: 0 $spacing-large;
      }
    }
  }

  .navigation {
    justify-content: baseline;

    @include breakpoint-max(large) {
      justify-content: space-between;
    }

    .menu--responsive__toggle {
      font-size: 2em;
      margin: auto 0;
      &--close {
        @extend .menu--responsive__toggle;
        position: absolute;
        top: 1.2em;
        right: 1em;
      }
      @media (min-width: $large) {
        display: none;
      }
    }

    &__list {
      position: relative;
      flex-direction: row-reverse;

      &__submenu__container {
        &__submenu {
            display: flex;
            visibility: hidden;
            flex-wrap: wrap-reverse;
            position: absolute;
            background: $black;
            color: $white;
            width: 450px;
            border-radius: 2px;
            bottom: -350px;
            padding: 0 $spacing-large $spacing-base;
            box-shadow: 0px 2px 18px 2px $black;
            transition: .15s ease-in-out 0s;

            li {
                margin: 20px 0 0;
                width: 100%;
                font-size: 15px;
                padding: 0;
                cursor: pointer;

                &:nth-child(2) {
                    padding: 20px 0 0;
                    &::before {
                        content: "";
                        width: 100%;
                        position: absolute;
                        top: -5px;
                        height: 2px;
                        border-top: 2px solid $white;
                    }
                }
            }
        }

        &:hover {
            .navigation__list__submenu__container__submenu {
                visibility: visible;
            }
        }
      }

      &--responsive {
        font-style: normal;
      }

      @include breakpoint-max(large) {
        position: fixed;
        width: 100%;
        height: 100%;
        background: $white;
        top: 0;
        left: 0;
        padding: 1em 0;
        visibility: hidden;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
      &__item {
        display: inline-flex;
        position: relative;
        transition: all $animation-time $animation-curve;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        text-align: center;
        opacity: 1;
        padding: 0 $spacing-large;
        cursor: pointer;
        letter-spacing: 1px;
        @include font-size($navigation-font-size);

        &--current {
          color: $green;
        }
        &:hover {
          @extend .hover;
        }

        @include breakpoint-max(large) {
          padding: 1em;
          width: 100%;
          margin: 1em 0;
          justify-content: center;
        }
      }
    }
  }
}

