.pagination {
  justify-content: space-between;
  margin: $spacing-x-large 0 0;
  
  &__pager {
    display: inline-block;
    padding: 0.75em;
    font-size: $small-font-size;
    background-color: $grey-400;
    color: $grey-800;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      background-color: $grey-600;
      color: $white;
    }
  }
}
