.pagination {
  justify-content: space-between;
  margin: $spacing-x-large 0 0;

  &__pager {
    padding: 0.75em;
    font-size: $small-font-size;
    background-color: $grey-400;
    color: $black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.disabled {
        color: $grey;
        &:hover {
            background-color: $grey-400;
            color: $grey;
            cursor:auto;
        }
    }

    &:hover {
      background-color: $grey-600;
      color: $white;
    }
  }
}
