.post {
  font-size: $base-font-size;

  h1 {
    position: relative;
    @include font-size($h1-post-font-size);
    font-weight: $font-weight-bold;
    margin: $spacing-xx-large 0;

    &:before {
      @extend .underlined;
      width: 250px;
      top: -25px;
      left: 0;
    }
  }

  h2 {
    position: relative;
    @include font-size($h2-post-font-size);
    margin: $spacing-xx-large 0;

    &:after {
      @extend .underlined;
      width: 250px;
    }
  }

  h3 {
    @include font-size($h3-post-font-size);
    font-weight: $font-weight-bold;
    margin: $spacing-large 0;
  }

  &-list__entry {
    margin: $spacing-base 0;
    border-bottom: 1px solid $grey-400;
    padding: $spacing-small 0;
    position: relative;

      &:last-of-type {
        border-bottom: none;
      }
    &__header {
      margin-bottom: 5px;
      width: 100%;
      text-transform: capitalize;
      letter-spacing: 1px;

      &__date {
        color: $grey-600;
        float: right;
        font-size: $x-small-font-size;
        text-transform: uppercase;
        font-family: $primary-font-family;
        @include breakpoint-max(medium) {
          float: none;
          display: block;
        }
      }

      &__subtitle {
        font-weight: $font-weight-regular;
        font-family: $primary-font-family;
        color: $grey-600;
        display: block;
        @include breakpoint-max(x-small) {
          margin: 10px 0;
        }
      }

      &__tags-list {
        margin: $spacing-base 0;
      }

      &__github-link {
        cursor: pointer;

        &:hover {
          color: $green;
        }
        i {
          padding: 0 10px 0 0;
        }
      }

      &:hover {
        cursor: pointer;
        * {
            color: $green;
          }
      }
    }
  }
}
