.post {
  font-size: $base-font-size;
  margin: 0 auto;

  P {
      margin: $spacing-x-large 0;
  }

  h1 {
    position: relative;
    @include font-size($h1-post-font-size);
    font-weight: $font-weight-bold;
    font-family: $titles-font-family;
    margin: $spacing-xx-large 0;
    padding: 0;
  }

  h2 {
    position: relative;
    @include font-size($h2-post-font-size);
    margin: $spacing-xx-large 0;

    &:after {
      @extend .underlined;
      width: 250px;
    }
  }

  h3 {
    @include font-size($h3-post-font-size);
    font-weight: $font-weight-bold;
    margin: $spacing-x-large 0 $spacing-base;
    position: relative;
  }

  a {
    color: $green;
    &:hover {
      font-weight: $font-weight-bold;
      text-decoration: underline;
    }
  }

  &-list {
    margin: $spacing-x-large 0;

    &__entry {
      margin: $spacing-base 0;
      padding: $spacing-small 0;
      border-bottom: 1px solid $grey-400;
      position: relative;

        &:last-of-type {
          border-bottom: none;
        }

      &--meta {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
      }
      &__header {
        margin-bottom: 5px;
        width: 100%;
        text-transform: capitalize;
        letter-spacing: 1px;

        &__title {
          font-weight: $font-weight-bold;
        }
        &__subtitle {
          font-weight: $font-weight-regular;
          line-height: $base-line-height;
          color: $grey-600;
          display: block;
          font-size: $small-font-size;
          margin: 10px 0;
        }
        &__date {
          position: relative;
          color: $grey-600;
          font-size: $small-font-size;
          text-transform: uppercase;
          font-family: $primary-font-family;
          margin: $spacing-base 0 0 auto;
          @include breakpoint-max(small) {
            display: none;
          }
        }
        &__tags-list {
          margin: $spacing-base 0 0;
        }

        &__github-link {
          font-weight: $font-weight-bold;
          cursor: pointer;
          display: block;
          margin: $spacing-base 0;
          i {
            padding: 0 10px 0 0;
          }
        }
      }
    }
  }

    div.mermaid {

        visibility: hidden;
        opacity: 0;

        span.edgeLabel {
            font-size: 16px;
            color: $grey-800;
            // background-color: $grey-200 !important;
        }
        .node * {
            stroke: $black !important;
        }

        foreignObject {
            font-size: 16px;
        }
    }

    div.mermaid[data-processed="true"] {
        text-align: center;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
    }

}

.post-list__entry:hover {
  .post-list__entry__header * {
    color:$green;
  }
  li.post-list__entry__header__tags-list__tag{
    background: $green;
    color: $white;
  }
}