.post {
  font-size: $base-font-size;

  h1 {
    position: relative;
    @include font-size($h1-post-font-size);
    font-weight: $font-weight-bold;
    font-family: $titles-font-family;
    margin: $spacing-xx-large 0;
    padding: 0;
  }

  h2 {
    position: relative;
    @include font-size($h2-post-font-size);
    margin: $spacing-xx-large 0;

    &:after {
      @extend .underlined;
      width: 250px;
    }
  }

  h3 {
    @include font-size($h3-post-font-size);
    font-weight: $font-weight-bold;
    margin: $spacing-large 0;
    position: relative;

    &:before {
      content: "";
      height: 25px;
      width: 25px;
      background:$green;
      position: absolute;
      top: 5px;
      left: -45px;
      @include breakpoint-max(small) {
        display: none;
      }
    }
  }

  &-list {
    margin: $spacing-x-large 0;

    &__entry {
      margin: $spacing-base 0;
      padding: $spacing-small 0;
      border-bottom: 1px solid $grey-400;
      position: relative;
  
        &:last-of-type {
          border-bottom: none;
        }
      &__header {
        margin-bottom: 5px;
        width: 100%;
        text-transform: capitalize;
        letter-spacing: 1px;
        
        &__title {
          font-weight: $font-weight-bold;
        }
        &__subtitle {
          font-weight: $font-weight-regular;
          color: $grey-600;
          display: block;
          margin: 10px 0;
        }
        &__date {
          color: $grey-600;
          float: right;
          font-size: $x-small-font-size;
          text-transform: uppercase;
          font-family: $primary-font-family;
          @include breakpoint-max(medium) {
            float: none;
            display: block;
          }
        }
        &__tags-list {
          margin: $spacing-base 0;
        }
  
        &__github-link {
          font-weight: $font-weight-bold;
          cursor: pointer;
          display: block;
          margin: $spacing-base 0;
          i {
            padding: 0 10px 0 0;
          }
        }
      }
    }
  }
}

.post-list__entry:hover {
  .post-list__entry__header * {
    color:$green;
  }
  li.post-list__entry__header__tags-list__tag{
    background: $green;
    color: $white;
  }
}
