.projects {
  margin: $spacing-xxx-large 0;
  
  &__item {
    display: block;
    margin: 1.3em 0;
    
    &:hover {
      color: $green;
    }
    
    &__meta {
      display: inline;
    }
    &__language {
      border-radius: 4px;
      padding: 3px 5px;
      font-size: 0.75em;
      color: $white;
      background: $black;
      white-space: nowrap;
    }
    &__title {
      @include font-size($h5-font-size);
      font-family: $titles-font-family;
      text-transform: capitalize;
      margin: 0 $spacing-base 0 0;
      
      i {
        @include font-size($h6-font-size);
        font-family: $primary-font-family;
        font-style: normal;
        margin: 0 0 0 10px;
      }
    }
  }
}