blockquote {
  margin: 2em 1em 2em 0;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0.25em solid $grey;

  cite {
      font-style: italic;
      font-size: 0.85em;

      &:before {
          content: "\2014";
          padding-right: 5px;
      }
  }
}
cite {
  font-style: italic;
  font-size: 0.85em;
}
dt {
  border: 1px solid darken($white, 7%);
  padding: 0.5em;
  background-color: darken($white, 5%);
  font-weight: bold;
}
dd {
  padding: 0.5em 1em;
  margin-left: 0;
  margin-bottom: 2em;
  border: 1px solid darken($white, 7%);
  border-top: 0;
}

