
 .search {
  position: fixed;
  padding: 3em;
	z-index: 1000;
	top: 0;
	left: 100%;
	overflow-x: hidden;
	@include square(100%);
  background: $white;
  pointer-events: none;
	transition: transform 0.3s;
	transition-delay: 0.4s;
	transition-timing-function: ease-out;
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include square(100%);
      background: $white;
      transition: transform 0.3s;
      transition-timing-function: ease-out;
    }

    &--open {
      pointer-events: auto;
      transform: translate3d(-100%,0,0);
      transition-delay: 0s;
      
      &::after {
        transform: translate3d(100%,0,0);
        transition-delay: 0.4s;
      }
    }
    
    &__input {
      font-family: inherit;
      font-size: 6vw;
      line-height: 1;
      display: inline-block;
      width: 60%;
      padding: 0.05em 0;
      color: $black;
      border-bottom: 2px solid;
      @include breakpoint-max(medium) {
        margin: 2em 0 0;
        width: 100%;
      }
    }

    &__info {
      font-size: 90%;
      font-weight: bold;
      display: block;
      width: 50%;
      padding: 0.85em 0;
      color: $black;
    }

    &__related {
      display: flex;
      padding: $spacing-xxxx-large 0 0 0;
      flex-direction: column;
      
      h3{
        @include font-size($h4-font-size);
        margin: 0;
        position: relative;

          &::before {
            content: '';
            background: $green;
            position: absolute;
            height: 10px;
            width: 300px;
            bottom: -15px;
            left: 0;
          }
        }
    }

    &__suggestion {
      padding: $spacing-base 0;
        .section__title {
          display: none;
        }
    }
}