.section {
  margin: $spacing-x-large 0;

  &__title {
    position: relative;
    font-family: $titles-font-family;
    font-weight: $font-weight-regular;
    &:before {
      @extend .underlined;
      width: 300px;
      top: -25px;
      left: 0;
    }
  }
  &__subtitle {
    @include breakpoint-max(small) {
      line-height: $heading-line-height;
    }
  }
}

.container--blog .section__title {
  margin: $spacing-x-large 0;
  font-family: $primary-font-family;
  font-weight: $font-weight-bold;

  &:before {
    display: none;
  }
  &:after {
    @extend .underlined;
    width: 150px;
  }
}

.container--home {
  .section {
    padding: $spacing-large 0;
  }
}