table {
  width: 150%;
  border-collapse: collapse;
  border: 1px solid darken($white, 7%);
  margin-bottom: 1em;
  @include breakpoint-max(x-large) {
    width: 100%;
  }
}
thead {
  background-color: darken($white, 5%);
  border-bottom: 1px solid darken($white, 7%);
}
tr, td {
  border-bottom: 1px solid darken($white, 7%);
}
th, td {
  text-align: left;
  border-right: 1px solid darken($white, 7%);
  padding: 0.5em;

  a {
      text-decoration: none !important;
  }
}
th:first-child, td:first-child {
  text-align: left;
}
