.tags {
  margin: $spacing-large 0;

  li {
    display: inline-flex;
    font-size: $small-font-size;
    background: $grey-400;
    padding: 7px 10px;
    color: $grey-800;
    margin: 3px;
    border: 1px solid transparent;
    text-transform: uppercase;

    @include breakpoint-max(small) {
      font-size: 10px;
    }
    @include breakpoint-max(x-small) {
      display: none;
    }
  }
}