.tags {
  margin: $spacing-large 0;

  li {
    display: inline-flex;
    font-size: 0.8em;
    background: $grey-400;
    padding: 7px 10px;
    color: $grey-800;
    margin: 3px;
    border: 1px solid transparent;
    text-transform: uppercase;

    &:hover {
      @extend .tags--hovered;
    }
  }
}

.tags--hovered {
  border: 1px solid $green;
  background: $green;
  color: $white;
}