<script type="application/ld+json">
{ "@context": "http://schema.org",
 "@type": "Blog",
 "keywords": "ahmad assaf web development data science machine learning javascript",
 "url": "https://ahmadassaf.com/blog",
 "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://ahmadassaf.com/blog"
  },
 "author": {
      "@type": "Person",
      "name": "Ahmad Assaf",
      "jobTitle": "Senior Data Scientist @Beamery",
      "affiliation": "Beamery",
      "alumniOf": "SAP",
      "alumniOf": "Universty of St.Andrews",
      "alumniOf": "EURECOM",
      "alumniOf": "Telecom ParisTech",
      "url": "http://www.ahmadassaf.com",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "144 Octavia House, 213 Townmead Road",
        "addressLocality": "London",
        "addressRegion": "United Kingdom",
        "postalCode": "SW6 2FJ"
      },
      "telephone": "(+44) 742-9204-600",
      "email": "me@ahmadassaf.com",
      "sameAs": [
            "https://ahmadassaf.com",
            "https://twitter.com/ahmadaassaf",
            "https://github.com/ahmadassaf",
            "https://plus.google.com/u/1/+AhmadAssafA",
            "https://linkedin.com/in/ahmadassaf",
            "https://facebook.com/ahmad.a.assaf",
            "http://stackoverflow.com/users/557821/ahmadassaf",
            "https://www.quora.com/profile/Ahmad-Assaf",
            "https://www.instagram.com/ahmadaassaf/",
            "https://news.ycombinator.com/user?id=ahmadassaf"
        ]
    }
 }
</script>