<section id="biography">

  <h3 data-aos="fade-up">Biography</h3>
    <h5 data-aos="fade-up">A life's work of embracing both the creative and the quantitative</h5>
    
    <div data-aos="fade-up" class="biography">

        <p>As far back as I can remember, I was always passionate about tools & crafts and doing things by hand. I still recall my fascination when I sat for the first time in front of my 60 MHz Pentium 1 machine and the realisation that I can actually create "something" out of writing few lines of obscure code (well for me then at least). From that moment, I have spent most of my childhood and all of my adult life engrossed in internet business and the functions that drive it and quickly became enamoured with development, design and hacking on the (then new) medium.</p>

        <p>After high school, I did my bachelor in Computer Science back home in Jordan but it was during my one year internship with <a class="link" target="_blank" href="http://tcs.com">TATA Consultancy Services</a> in India when I started my real hands-on experience on real-world-facing code. After my first few months, I was selected to be part of the iGnite programme where I was working alongside brilliant young graduates hand-picked from all over India to prepare them for leadership positions in the future. My experience there was priceless both on professional and personal levels. I have learnt not to take anything for granted and that learning is an everlasting process especially in a field that is moving constantly as computing.</p>

        <p>Afterwards, I moved to <a class="link" target="_blank" href="https://www.st-andrews.ac.uk/">St. Andrews</a> where I did my Masters in Advanced Software Engineering. Being part of a strong Academic institute, I immediately realised my passion for research. I knew right away that I want to go further in my education but I always felt that I want to be more in the practical side rather than the academic. Having got accepted to continue my PhD there, I decided to have a break and went to do a 6 months internship with <a class="link" target="_blank" href="https://sap.com">SAP Labs</a> in south France (I thought of it more of a holiday to be honest).</p>
        
        <p>I was part of the of the Business Intelligence team in the Applied Research department. I have spent my first few months writing an extension for what was then Google Refine to extend its capabilities of doing schema matching. I quickly moved to other projects and was offered to stay with the team. Having my PhD waiting for me, I was in a tough place trying to decide what to do. Long story short, I was lucky enough to have the opportunity to do both and to live in the sunny Riviera. SAP sponsored my PhD with <a class="link" target="_blank" href="https://www.telecom-paristech.fr/">Télécom ParisTech</a> via its research institute <a class="link" target="_blank" href="http://www.eurecom.fr/en">EURECOM</a> and I was able to have my research applied in an enterprise context.</p>
        
        <p>Having spent 4 years in the enterprise and having finished my PhD, i deicded its time to move to the startup world. I joined <a target="_blank" class="link" href="https://beamery.com">Beamery</a> in 2015, and I am currently the Director of Data & Intelligence there where i continue to fiddle around in information retrieval, knowledge representation and machine learning.</p>

    </div>

</section>

