<section id="featured-posts" data-aos="fade-up">

    <h3>featured posts</h3>

    {% assign featured_posts = site.featured %}
    {% for post in site.posts %}
        {% if post.featured %}
            {% assign featured_posts = featured_posts | push: post %}{% unless forloop.last %}{% endunless %}
        {% endif %}
    {% endfor %}
    
    <ul class="list posts">
        {% for post in featured_posts limit: 4 %}
            {% include partials/post.html %}
        {% endfor %}
    </ul>

</section>
    
        