<div class="flex align-items navigation-container {% if page.layout != 'home' %} navigation-container--blog {% endif %}">
    <a href="{% if page.layout != 'home' %} {{ site.url }}/blog {% else %} {{ site.url }} {% endif %}" class="logo block">A</a>
    <div class="flex navigation align-items">
        <ul class="flex align-items navigation__list list show--large-min">
            {% if page.layout == 'home' %}
                {% include partials/navigation/home.html %}
            {% else %}
                {% include partials/navigation/blog.html %}
            {% endif %}
            <li id="closeNavigationMenu" class="hover menu--responsive__toggle--close" aria-hidden="true">
                <svg class="icon icon--cross">
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                </svg>
            </li>
        </ul>
        <div class="flex align-items navigation-container__actions">
            <i id="button-search" class="hover fa fa-search button--search" aria-hidden="true"></i>
            <i id="openNavigationMenu" class="hover fa fa-bars menu--responsive__toggle show--large-max" aria-hidden="true"></i>
        </div>
    </div>
    {% include partials/search.html %}
</div>