<div class="flex align-items navigation {% if page.layout != 'home' %} navigation--blog {% endif %}">
    <a href="{% if page.layout != 'home' %} {{ site.url }}/blog {% else %} {{ site.url }} {% endif %}" class="logo">A</a>
    <div class="flex navigation__container align-items">
        <ul class="flex align-items navigation__container__list list">
            {% if page.layout == 'home' %}
                {% include partials/navigation/home.html %}
            {% else %}
                {% include partials/navigation/blog.html %}
            {% endif %}
        </ul>
        <i id="closeNavigationMenu" class="hover fas fa-chevron-right menu--responsive__toggle--close show--small-min" aria-hidden="true"></i>
    </div>
    <div class="flex align-items navigation__container__actions">
        <i id="button-search" class="hover fa fa-compass button--search" aria-hidden="true"></i>
        <i id="openNavigationMenu" class="hover fa fa-bars menu--responsive__toggle show--large-max" aria-hidden="true"></i>
    </div>
    {% include partials/search.html %}
</div>