<div class="search">
  <form class="search__form" action="">
    <input class="search__input" name="search" type="search" placeholder="Find..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
    <span class="search__info">Hit enter to search or ESC to close</span>
  </form>
  <div class="search__related">
    <h3>May I Suggest?</h3>
    <div class="search__suggestion">
      {% include partials/featured-posts.html %}
    </div>
  </div>
  <button id="button-search-close" class="button--hidden button--search-close" aria-label="Close search form">
    <svg class="icon icon--cross">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </svg>
  </button>
</div>

<script>

(function() {

  const mainContainer = document.querySelector('.container--main');
  const openCtrl = document.getElementById('button-search');
  const closeCtrl = document.getElementById('button-search-close');
  const searchContainer = document.querySelector('.search');
  const inputSearch = searchContainer.querySelector('.search__input');

    function openSearch() {
      mainContainer.classList.add('container__main--overlay');
      closeCtrl.classList.remove('button--hidden');
      searchContainer.classList.add('search--open');
      setTimeout(function() {
        inputSearch.focus();
      }, 500);
    }
    
    function closeSearch() {
      mainContainer.classList.remove('container__main--overlay');
      closeCtrl.classList.add('button--hidden');
      searchContainer.classList.remove('search--open');
      inputSearch.blur();
      inputSearch.value = '';
    }

    openCtrl.addEventListener('click', openSearch);
    closeCtrl.addEventListener('click', closeSearch);

    document.addEventListener('keyup', function(ev) {
      if (ev.keyCode === 27) {
        closeSearch();
      }
    });
  
  
})();

</script>

