<section id="skills">

  <h3 data-aos="fade-up">Expertise</h3>
  <h5 data-aos="fade-up">A Partial list of the skills and technologies i work with</h4>
  
  <ul data-aos="fade-up" class="skills list">
    
    <li>
        <h6>Programming Languages:</h6>
        <p>JavaScript, Java, Python, Scala, GoLang</p>
    </li>
    <li>
        <h6>Database Technolgoies:</h6>
        <p>In-memory(SAP HANA), Relational(MySQL, Oracle, SQLite), Document(MongoDB), Graph(Neo4J - Cypher, Tripple Stores – SPARQL, Cayley)</p>
    </li>
    <li>
        <h6>Knowledge Domains:</h6>
        <p>Information Retreival, Semantic Web, Machine Learning and Collective Intelligence</p>
    </li>      

    <a class="button" target="_blank" href="http://papers.ahmadassaf.com/cv.pdf">Résumé</a>

  </ul >

</section>

