<section class="section" id="skills">

    <h3 class="section__title" data-aos="fade-up">Expertise</h3>
    <!-- <h5 class="section__subtitle" data-aos="fade-up">A Partial list of the skills and technologies i work with</h5> -->

    <ul data-aos="fade-up" class="skill-list list">

        <li class="skill-list__entry">
            <h6 class="skill-list__entry__title">Programming Languages</h6>
            <p>JavaScript, Java, Python, Scala, GoLang</p>
        </li>
        <li class="skill-list__entry">
            <h6 class="skill-list__entry__title">Database Technolgoies</h6>
            <p>
                <strong>In-memory</strong>(SAP HANA), <strong>Relational</strong>(MySQL, Oracle, SQLite),
                <srong>Document</srong>(MongoDB), <strong>Graph</strong>(Neo4J - Cypher, Tripple Stores – SPARQL, Cayley)
            </p>
        </li>
        <li class="skill-list__entry">
            <h6 class="skill-list__entry__title">Knowledge Domains</h6>
            <p>Information Retreival, Semantic Web, Machine Learning and Collective Intelligence</p>
        </li>
    </ul>

    <a data-aos="fade-up" class="button skill-list__resume" target="_blank" href="http://papers.ahmadassaf.com/cv.pdf">Résumé</a>

</section>