---
layout: compress
title: blog
---
<section>

<!DOCTYPE html>
<html>
    {% include partials/head.html %}
    <div class="archive-sidebar archive">
        <div class="content">
            <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
            <h1 class="section-title">{{ page.title}}<em>/</em></h1>
        </div>
    </div>

    <div class="archive-container">
        <ul class="archive">
        {% for post in paginator.posts %}
            {% include partials/post.html %}
        {% endfor %}
        {% include partials/archive/pagination.html %}
        </ul>
    </div>
    {% include partials/footer.html %}

</html>