<div class="post-header">
	<a href="{{ site.url }}" class="logo"><img alt="logo" src="{{ site.url }}/images/{{ site.logo }}"></a>
	<div class="post-title-section">
	 	<div class="section-line"><a class="category capitalize" href="{{ site.url}}/{{page.category | downcase | replace:' ', '-' }}">{% if page.category %}{{page.category}}{% else %}Home{% endif %}</a><em>/</em></div>
	 	<h1 class="section-title post-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
	 	<h2 class="section-subtitle">{{ page.subtitle }}</h2>
        {% if page.layout != 'error' %}
		 	<div class="date">{% if page.date %}{{ page.date | date: '%B %d %Y' }}{% endif %}</div>
            <div class="contribute">
                <i class="fa fa-github" aria-hidden="true"></i>
                <a target="_blank" href='{{site.github-repo}}blob/master/{{page.category | downcase | url_escape }}/{{page.date | date: "%Y-%m-%d" }}-{{ page.title | downcase | replace: " ", "-" }}.md'>Contribute to this post on Github</a>
            </div>
			<ul class="tags">
				{% for tag in page.tags %}
    				<li><a href="{{ site.url }}/{{ tag | replace:' ', '-' }}">{{ tag }}</a></li>
    				{% unless forloop.last %}{% endunless %}
				{% endfor %}
			</ul>
			<div class="share-buttons">
				{% include partials/post/share.html %}
			</div>
        {% endif %}
		<div class="section-line reverse"><a href="{{ site.url}}/blog">Back to posts</a> <em>/</em></div>
	</div>
</div>