<div class="post-header">
	<a href="{{ site.url }}/blog" class="logo"><img alt="logo" src="{{ site.url }}/images/{{ site.logo }}"></a>

    <!-- Article Schema.org Metadata -->
    <meta itemtype="http://schema.org/BlogPosting" itemprop="thumbnailUrl" content="{{ site.url }}/{{ page.image }}" />
    <meta itemtype="http://schema.org/BlogPosting" itemprop="url" content="{{ site.url }}{{ post.url }}"/>
    <meta itemtype="http://schema.org/BlogPosting" itemprop="description" content="{{ page.excerpt }}"/>
    <meta itemtype="http://schema.org/BlogPosting" itemprop="wordCount" content="{{ content | number_of_words }}"/>
    <meta itemtype="http://schema.org/BlogPosting" itemprop="image" content="{{ page.image || site.default-post-image}}"/>
    <!-- End Article Metadata -->

	<div class="post-title-section">
	 	<div class="section-line"><a class="category capitalize" href="{{ site.url}}/{{page.category | downcase | replace:' ', '-' }}">{% if page.category %}{{page.category}}{% else %}Home{% endif %}</a><em>/</em></div>
	 	<h1 itemprop="name headline" class="section-title post-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
	 	<h2 class="section-subtitle">{{ page.subtitle }}</h2>
        {% if page.layout != 'error' %}
		 	<div itemprop='dateCreated dateModified datePublished' class="date">{% if page.date %}{{ page.date | date: '%B %d %Y' }}{% endif %}</div>
            <div class="reading-time"><i class="fa fa-clock-o" aria-hidden="true"></i>Reading Time: {{ content | reading_time_as_i }}</div>
            <div class="contribute">
                <i class="fa fa-github" aria-hidden="true"></i>
                <a itemprop="sameAs" target="_blank" href='{{site.github-repo}}blob/master/{{page.category | downcase | url_escape }}/{{page.date | date: "%Y-%m-%d" }}-{{ page.title | downcase | replace: " ", "-" }}.md'>Contribute to this post on Github</a>
            </div>
			<ul class="tags">
				{% for tag in page.tags %}
    				<li><a itemprop='articleSection keywords' href="{{ site.url }}/{{ tag | downcase | replace:' ', '-' }}">{{ tag }}</a></li>
    				{% unless forloop.last %}{% endunless %}
				{% endfor %}
			</ul>
			<div class="share-buttons">
				{% include partials/post/share.html %}
			</div>
        {% endif %}
		<div class="section-line reverse"><a href="{{ site.url }}/blog">Back to posts</a> <em>/</em></div>
	</div>
</div>