.page-not-found {

    .post-header .logo,
    .post-header .post-title-section .section-line:first-of-type {
        display:none;
    }

    .post-header .post-title-section {
        margin: 0 auto;
    }

    .recent-posts {

        h1 {
            background: $green;
            color: $white;
            padding: 2px 5px;
            line-height: 2em;
            font-size: 20px;

            @media screen and (max-width:950px) {
                font-size: 15px;
                letter-spacing: 2px;
            }
            @media screen and (max-width:640px) {
                font-size: 11px;
                &:after {
                    content: ":";
                    margin: 0 5px;
                }
            }
        }
    }
}