.recent-posts {
    display: block;
    position: relative;
    margin: 150px 0;
}

.recent-posts h1 {
    background: $green;
    color: $white;
    padding: 2px 5px;
    width: 580px;
}


@media screen and (max-width:640px) {
    .recent-posts h1{
        display: none;
    }
}