.archive-container {

    display: table;
    width: 80%;
    height: 100%;
    padding: 110px 0;
    margin: 0 auto;

    ul.archive {
        > li {
            padding-bottom: 10px;
            border-bottom: 1px solid darken($white, 8.2353);
            list-style: none;

            &:last-child {
                border: none;
            }
            h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: capitalize;
                .subtitle {
                    display: block;
                    margin: 12px 0;
                    font-size: 22px;
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 400;
                    line-height: 1.5em;
                }
            }
            p {
                color: darken($white, 40);
            }
            .date {
                color: $gray;
                float: right;
                display: inline-block;
                font-size: 15px;
                padding-top: 10px;
                text-transform: uppercase;
            }
            .post-title {
                display: inline-block;
                max-width: 75%;

                &:hover span {
                    border-bottom: 1px solid $green;
                }
            }
        }
        .tags li {

            display: inline-block;
            background: $light-gray;
            padding: 7px 10px;
            color: $dark-gray;
            font-size: 11px;
            text-transform: uppercase;

            &:hover {
                background: $green;
                color: $white;
                cursor: pointer;


                a {
                    color: $white;
                }
            }
        }
        > a {
            color: lighten($black, 28%);
        }
    }
}

@media screen and (max-width:640px) {

    ul.archive {
        > li {
            .post-title {
                max-width: 100%;
            }
            h2 *:not(.date){
                font-size: 20px !important;
            }
            .date {
                float: left;
                display: block;
                width: 100%;
                padding-bottom: 10px;
            }
        }
    }
}