.archive-container {

    display: table;
    margin: 110px auto;
    width:90%;

    ul.archive {

        > li {
            padding-bottom: 10px;
            border-bottom: 1px solid darken($white, 8.2353);
            list-style: none;

            &:last-child {
                border: none;
            }

            h2 {
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 5px;
                text-transform: capitalize;
                line-height: 1.2em;

                .subtitle {
                    display: block;
                    margin: 12px 0;
                    font-size: 22px;
                    color: rgba(0, 0, 0, 0.6);
                    font-weight: 400;
                    line-height: 1.5em;
                }
            }
            p {
                color: darken($white, 40);
            }
            .date {
                color: $gray;
                float: right;
                display: inline-block;
                font-size: 15px;
                padding-top: 10px;
                text-transform: uppercase;
            }
            .post-title {
                display: inline-block;
                max-width: 75%;

                &:hover span {
                    border-bottom: 1px solid $green;
                }
            }
            .tags  {

                margin: 15px 0 0;

                li {
                    display: inline-block;
                    background: $light-gray;
                    padding: 7px 10px;
                    color: $dark-gray;
                    font-size: 11px;
                    margin: 2px 0;
                    text-transform: uppercase;

                    &:hover {
                        background: $green;
                        color: $white;
                        cursor: pointer;


                        a {
                            color: $white;
                        }
                    }
                }
            }
            > a {
                color: lighten($black, 28%);
            }
        }
    }
}



.archive-container.main {
    margin: 0 auto;

    div {
        h1 {
            letter-spacing: 7px;
            position: relative;
            margin: 2em 0;
            font-weight:800;

            &:after {
                content: " ";
                width: 150px;
                background: $green;
                height: 10px;
                position: absolute;
                bottom: -15px;
                left: 0;
            }
        }
    }

    .featured-posts {
        padding: 50px 0;
        border-bottom: 1px solid $gray;
    }
}

@media screen and (max-width:640px) {

    ul.archive {
        > li {
            .post-title {
                max-width: 100%;
            }
            h2 *:not(.date){
                font-size: 20px !important;
            }
            .date {
                float: left;
                display: block;
                width: 100%;
                padding-bottom: 10px;
            }
        }
    }
}