@import "partials/navigation";

.logo img {
    width: 80px;
    z-index: 10;
    position: relative;
}

 .header-elements {
    position: relative;
 }

.shapes {

    position: fixed;
    top: -80px;
    right: 30px;
    z-index: 2;
    transition-duration: 2s;

    .geometry {
        border-bottom: 300px solid rgba(38,139,210,0.5);
        border-right: 750px solid transparent;
        border-left: 900px solid transparent;
        position: absolute;
        top: -100px;
        right: -700px;
        @include rotate(40);
    }

    .geometry-inverted {
        border-bottom: 300px solid $green;
        right: -400px;
        @include rotate(10);
    }
}

@media screen and (max-width:1300px) {

    .shapes {
        top: -200px;
    }
}