@import "partials/navigation";

.shapes {

    position: fixed;
    top: -80px;
    right: 30px;
    z-index: 2;
    transition-duration: 2s;

    .geometry {
        border-bottom: 300px solid rgba(38,139,210,0.7);
        border-right: 750px solid transparent;
        border-left: 910px solid transparent;
        position: absolute;
        top: -80px;
        right: -950px;
        @include rotate(100);
    }


    .geometry-inverted {
        border-bottom: 720px solid $green;
        top: 470px;
        right: -1050px;
        @include rotate(115);
    }
}

@media screen and (max-width:1500px) {
    .shapes {
        right: -30px;
    }
}

@media screen and (max-width:950px) {
    .shapes {
        right: -100px;
    }
}

@media screen and (max-width:640px) {
    .shapes {
        display:none;
    }
}