@import "links";

.homepage {

    .content {
        max-width: none;
        margin: 0 auto;
        width: 90%;
    }

    .main-title {

        margin: 200px 0 0;
        font-size: 3em;
        font-family: $header-font;

        h1 {
            font-family: $header-font;
        }
        .rotating-text {
            border-bottom: 7px solid $blue;
        }
    }

    ul.social-links {
        list-style: none;
        display: table;

        li {
            display: inline-table;
            font-size: 30px;
            margin: 80px 25px 0;
        }
    }

    .archive-container ul.archive>li {
        display: none;
        border:none;

        &:nth-child(1), &:nth-child(2) {
            display: block;
        }

        .date {
            display: none;
        }
    }

    .archive-container.main {
        margin: 0;
        max-width: 1000px;
    }
}