.navigation-bar {

    width: 100%;
    padding: 10px;
    z-index: 10;
    position: relative;
    display: table;


    .header-elements {
        position: relative;

        .logo {
            top: 10px;
            position: absolute;
            left: 50px;
            img {
                width: 80px;
                z-index: 10;
                position: relative;
            }
        }

        h1.section-title {
            position: absolute;
            margin: 0;
            top: 35px;
            left: 140px;
            font-size: 1.5em;
            font-family: $header-font;
        }
    }

    ul {

        position: fixed;
        right: 0;
        right: 70px;
        z-index:11;

        li {

            font-size: 18px;
            padding: 0 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 800;
            position: relative;
            cursor: pointer;
            float: right;
            list-style: none;

            i {
                &:hover {
                    color: $blue;
                }
            }

            a {
                &:hover {
                    border-bottom: 4px solid $white;
                    color: $white;
                }
            }
        }

        li.current {
            a {
                border-bottom: 4px solid $white;
                color: $white;
            }
        }
    }

    ul.icon-navigation {

        right: 0;

        .fa {
            font-size: 20px;
        }
        .menu-toggle {
            display: none;
        }
    }

    ul.categories-list_home {

        right:0;
        left: 140px;
        top: 50px;

        li {
            float:left;
        }
    }

    ul.categories-list.responsive {

        z-index: 10;
        display: table;
        padding: 2em 0 0 0;

        .geometry-menu {
            border-bottom: 720px solid $green;
            border-right: 900px solid transparent;
            border-left: 900px solid transparent;
            position: absolute;
            top: -120px;
            right: -700px;
            @include rotate(40);
        }

        li {
            font-size: 25px;
            color: $white;
            text-align: center;
            margin: 25px 0;
            width: 100%;

            a {
                color: $white;
            }
        }

        li a:hover, li.current a{
            border-bottom: 4px solid $black;
        }
    }
}

.post-navigation {

    position: fixed;
    font-family: $base-font;
    background: $white;
    top: 0;
    height: 55px;

    .fixed {
        z-index: 10;
        padding: 20px 0 30px 0;
        position:fixed;
    }

    ul {
        position: absolute;

        li i:hover {
            color: $blue;
        }
        li a:hover, li.current a{
            border-bottom: 4px solid $green;
            color: $green;
        }
    }
}

@media screen and (max-width:1300px) {

    .navigation-bar {

        .header-elements .logo {
            top: -5px;
        }

        h1.section-title {
            display:none;
        }

        ul {

            li {

                i {
                    &:hover {
                        color: $blue;
                    }
                }
                a {
                    &:hover {
                        border-bottom: 4px solid $black;
                        color: $black !important;
                    }
                }
            }

            li.current {
                a {
                    border-bottom: 4px solid $black;
                    color: $black !important;
                }
            }
        }
    }

    .post-navigation {

        ul {
            li a:hover, li.current a{
                border-bottom: 4px solid $green;
                color: $green !important;
            }
        }

        ul.responsive {
            li a:hover, li.current a {
                color: $black !important;
            }
        }
    }
}

@media screen and (max-width:1050px) {
  .navigation-bar ul li {
    font-size: 16px;
    padding: 0 15px;
  }
}

@media screen and (max-width:950px) {

    .navigation-bar {

        ul.icon-navigation {

            .menu-toggle {
                display: block;
            }
        }

        ul.categories-list {
            display:none;
        }
    }
}

@media screen and (max-width:640px) {
    .navigation-bar .header-elements .logo {
        top: 0;
        left: 10px;
    }
}