@import "post/post-header";

.blog-post {

    .content {

        a {
            border-bottom:none !important;
        }

        h1 {
            font-size: 40px;
            line-height: 70px;
            margin-bottom: 50px;
        }
        h2 {
            font-size: 30px;
            line-height: 1.5em;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            color: $black;
        }
        p {
            font-size: 20px;
            line-height: 1.6;
            color: $black;
            margin-bottom: 1.3em;
        }
        small {
            color: darken($white, 40);
            font-size: 16px;
            margin-bottom: 10px;
            display: block;
        }
        a:not(.btn):not(.pagination_pager) {
            color: $green;
            border-bottom: 1px dotted $green;
        }
        ul, ol {
            padding-left: 30px;
            margin: 30px 0;

            > li {
                position: relative;
                margin-bottom: 10px;
                font-size: 20px;
                line-height: 1.6em;

                &:first-child {
                    margin-top: 20px;
                }
            }
        }

        .download-link {
            text-align: center;
            margin: 50px 0;

            a {
                background: $green;
                color: $white !important;
                width: 200px;
                height: 40px;
                display: inline-table;
                text-align: center;
                padding: 7px 10px;
                font-size: 20px;
                border-radius: 3px;
            }
        }
    }
}

        .logo {
            top: 20px;
            position: absolute;

            img {
                width: 70px;
                height: auto;
            }
            &:after {
                display: none;
            }
        }

@media screen and (max-width:950px) {

    .blog-post {
        .align-right {
            display:none;
        }
    }
}

@media screen and (max-width:640px) {

    .blog-post {

        h1 {
            font-size: 40px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 30px;
            margin: 40px 0;
        }
        p, li {
            font-size: 16px;
            line-height: 24px;
        }
        ul > li {
            margin-bottom: 10px;
            font-size: 16px;
        }

        .content p, .content li {
            font-size: 16px !important;
            line-height: 24px !important;
        }
    }

            .post-header {
            margin: 0 0 40px 0;

            .content {
                .post-title-section {
                    top: 100px;

                    .section-title {
                        font-size: 40px;
                    }
                    .section-subtitle {
                        font-size: 25px;
                    }
                    .section-line {
                        display: none;
                    }
                }

                .date {
                    margin: 80px 0 40px;
                }
            }
        }
}