.search-container {

    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
    -webkit-transform: translateZ(0);


    .search-close {
        position: absolute;
        width: 30px;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    input[type="search"] {
        position: relative;
        height: 60px;
        background: rgba(255,255,255,0.7);
        border: none;
        outline: none;
        color: #000;
        font-size: 60px;
        margin: 100px auto;
        padding: 50px;
        width: 90%;
        display: table;
        font-family: $header-font;

        @media screen and (max-width:960px) {
            font-size: 40px;
            padding: 40px;
        }
    }

    ul.search-results {
        width: 90%;
        position: relative;
        display: table;
        margin: 0 auto;
        list-style: none;
        padding: 0 10px;

        li {
            margin: 25px 0;
            font-size: 35px;
            font-family: $header-font;

            a {
                color: $white;
                &:hover {
                    color: $green;
                }
            }
            &:hover {
                color: $green;
            }
            @media screen and (max-width:960px) {
                font-size: 25px;
            }
        }
    }
}

