.tags-archive {

    .tag-heading {
        font-size: 25px;
        color: $green;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 4px;
        border-bottom: 1px solid $gray;
        padding: 5px 0;
    }

    ul.archive {
        > li {
            margin: 0;
            padding: 0;
            border: none;
        }
        h2.post-list-header {
            font-size: 22px;

            .date {
                font-size: 15px;
            }
        }
        .tags {
            display:none;
        }
    }
}