---
layout: compress
---

<!DOCTYPE html>
<html>

    {% include partials/head.html %}

    <div class="archive-container main">

        <div class="recent-posts">
            <h1>recent posts</h1>
            {% include partials/recent-posts.html %}
        </div>

        <div class="featured-posts">
            <h1>featured posts</h1>
            {% include partials/featured-posts.html %}
        </div>
    </div>

    {% include meta/author.html %}
    {% include meta/JSON-LD/blog.html %}
    {% include meta/JSON-LD/posts.html %}
    {% include partials/footer.html %}

</html>