---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include partials/head.html %}
    
    <div class="container__home">

        <div class="introduction" data-aos="fade-up" data-aos-delay="100">
            <h1>Ahmad Assaf</h1>
            <h2>I am a<span id="profession" class="rotating-text"></span></h2>
            {% include partials/social-links.html %}
            <h4>I am currently</h4>
        </div>
    
        <ul class="currently list flex" data-aos="fade-up" data-aos-delay="500">
            {% for currently in site.data.currently %}
              <li>
                <i class="{{currently.icon}}" aria-hidden="true"></i>
                {% if currently.url %}
                    <a href="{{ currently.url }}">
                      {{ currently.title }}
                    </a>
                {% else %}
                    {{ currently.title }}
                {% endif %}
              </li>
            {% endfor %}
        </ul>
        
        {% include partials/biography.html %}
        {% include partials/skills.html %}
        <!-- {% include partials/projects.html %} -->
        {% include partials/featured-posts.html %}

    </div>

    <!-- <div id="modal-publications" class="modal">{% include partials/publications.html %}</div> -->

    {% include meta/author.html %}
    {% include meta/JSON-LD/author.html %}
    {% include partials/footer.html %}

</html>
