---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include partials/head.html %}
    
    <div class="container--home">

        <div class="introduction" data-aos="fade-up" data-aos-delay="100">
            <h1 class="introduction__title">
                Ahmad Assaf
            </h1>
            <h2 class="introduction__subtitle">
                I am a
                <span id="profession" class="introduction__subtitle--rotating"></span>
            </h2>
            {% include partials/social-links.html %}
            <h4 class="introduction__footer">I am currently</h4>
        </div>
    
        <ul class="currently list flex" data-aos="fade-up" data-aos-delay="500">
            {% for currently in site.data.currently %}
              <li class="currently__item">
                <i class="{{currently.icon}}" aria-hidden="true"></i>
                {% if currently.url %}
                    <a href="{{ currently.url }}">
                      {{ currently.title }}
                    </a>
                {% else %}
                    {{ currently.title }}
                {% endif %}
              </li>
            {% endfor %}
        </ul>
        
        {% include partials/biography.html %}
        {% include partials/skills.html %}
        {% include partials/featured-posts.html %}
        {% include partials/projects.html %}

    </div>

    <!-- <div id="modal-publications" class="modal">{% include partials/publications.html %}</div> -->

    {% include meta/author.html %}
    {% include meta/JSON-LD/author.html %}
    {% include partials/footer.html %}

</html>
