---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include partials/head.html %}

    <div class="home archive-container">
        <div class="featured-posts">
            <h1 class="home-section-title">featured posts</h1>
            {% include partials/featured-posts.html %}
        </div>

        <div class="recent-posts">
            <h1 class="home-section-title">recent posts</h1>
            {% include partials/recent-posts.html %}
        </div>
    </div>

    {% include partials/footer.html %}

</html>