---
layout: compress
---

<!DOCTYPE html>
<html>

    {% include partials/head.html %}

    <div itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

        {% include partials/post/header.html %}

        <div class="blog-post">

             <blockquote>
                 <p>{{ page.excerpt }}</p>
             </blockquote>

            {{ content }}
            <br>
            {% include partials/post/share.html %}
        </div>

    </div>

    {% include meta/author.html %}
    {% include meta/JSON-LD/post.html %}

    {% include partials/post/pagination.html %}
	{% include partials/post/comments.html %}
    {% include partials/footer.html %}

</html>
