---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

    {% include partials/head.html %}

    <div class="container--post" itemscope itemtype="http://schema.org/BlogPosting">

        {% include partials/post/header.html %}

        <div id="blog-post" class="post">

             <blockquote>
                 <p>{{ page.excerpt }}</p>
             </blockquote>

            {{ content }}
            <br>
            {% include partials/post/share.html %}
        </div>

        <div class="post__related-content">
            {% include partials/recent-posts.html %}
            {% include partials/featured-posts.html %}
        </div>
        
        {% include partials/post/comments.html %}

    </div>
    

    {% include meta/author.html %}
    {% include meta/JSON-LD/post.html %}

    {% include partials/footer.html %}

</html>
